---
title: Demo - Spatial Manipulation - Step 5b Breakout
layout: main
---

<style type="text/css">
    body {
        overflow-x: hidden;
    }

    .test-block {
        position: relative;
        left: 2000px;
        top: 50px;
        opacity: 0;
        transition: all 0.72s ease-in-out;
    }
</style>

<div class="basic_text_wrapper">
    <h1>Scrolly nonsense demo (scroll way down)</h1>
    <p>Nostrum sunt illo at dolores aut ut ab. Suscipit aut laboriosam soluta voluptatem. Et veritatis eos maxime laudantium et eaque. Voluptatem a eum minus. Et mollitia aliquam nesciunt odit sed sit.</p>
    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>
    <p>Quo distinctio eos provident repellat. Aut beatae praesentium enim perferendis est fugit. Perferendis sequi sequi non temporibus dolorem laborum ut est. Id voluptatem consectetur optio quo sint consequatur nihil et. Perferendis beatae repellat quis quia vel.</p>
    <p>Est aut soluta hic. Non dolore ab at eum sed ut excepturi tenetur. Necessitatibus possimus maiores quia excepturi quos est. Rerum illum modi commodi non.</p>
    <p>Perspiciatis aspernatur officia dolor enim. Quo et earum dolores aut dolor dolorem. Omnis consequatur ut nam reiciendis iste. Quibusdam tempore sunt ut temporibus non tenetur adipisci.</p>
    <p>Enim explicabo sunt qui ea neque est ex. Id et quia ea animi illum perferendis quia. Quia voluptates similique necessitatibus provident facilis ullam. Accusantium nam et et laudantium sapiente autem. Omnis ducimus autem qui. Et et provident delectus tenetur.</p>
    <p>Nisi vel dolorem qui. Quod nobis et aliquam omnis voluptas voluptas. Sit voluptas et asperiores. Quis corporis dolor quis quod incidunt. Impedit error sequi blanditiis quia repellat repudiandae hic pariatur.</p>
    <p>Labore numquam sit iure. Dolores enim cumque deleniti enim quis. Ex quia ad sunt.</p>
    <p>Impedit placeat dolor libero delectus et dolorem eveniet. Molestiae repellendus vel deserunt quidem aspernatur. Reprehenderit numquam quia perspiciatis suscipit numquam et fugiat tenetur.</p>
    <p>Vel vitae occaecati quaerat labore asperiores. Deleniti porro asperiores et voluptatem voluptatem aut quia. Qui id officia ut nemo. Tempore et omnis nulla. Tempore ab ratione nihil labore et et dignissimos fugit. Laborum assumenda ea rerum culpa non non quo sit.</p>
    <p>Veritatis quisquam ipsa aut soluta et. Voluptas odit nobis modi consequuntur sit et. Tenetur voluptatum eos et officia quo.</p>
    <p>Fugiat quia repellat quas rerum similique facilis magni. Fugit quae eveniet ipsum cum at dolorum ut. Ut asperiores corrupti rerum quidem. Vel quis repellat atque mollitia ullam dolores.</p>
    <p>Provident repellat odio exercitationem et. Tenetur expedita voluptate magnam. Deleniti accusamus velit natus quis.</p>
    <p>Facere sit eligendi nulla voluptatibus tenetur numquam eos. Enim dicta id quia voluptates facilis exercitationem odit. Delectus nesciunt dolores vel aut quia quisquam. Illo perspiciatis in consequatur qui.</p>
    <p>Accusantium consectetur exercitationem dolore sunt. Doloremque eos sapiente adipisci in nihil et temporibus autem. Nam inventore deleniti dicta non omnis quae. Sunt harum eum est sapiente odio praesentium dignissimos.</p>
    <p>Sed quas impedit beatae molestias est. Omnis porro tempore voluptas ex iusto adipisci. Quam et occaecati odit hic consectetur id nam. Sit aut voluptatem magnam nam aspernatur labore. Laborum perferendis porro quam est voluptatem.</p>
    <p>Voluptate consectetur libero dolor itaque autem sed cum. Tenetur rerum distinctio aut sit nisi ipsa. Beatae eum consectetur quae odio aut iure. Quasi nemo aut et nesciunt laborum fugiat quia. Corporis tempora veritatis aspernatur quo aut magnam perspiciatis et. Alias repellendus tenetur suscipit tempora illum voluptate dolorum.</p>
    <p>Aliquam velit eaque vel aut minima omnis odit. Perferendis quia et dolor recusandae atque dolorem. Accusamus ut est velit. Alias nisi ipsum assumenda deleniti voluptas.</p>
    <p>Officia error vel perferendis hic fuga. Non magni deserunt veritatis ea sit unde et eos. Est non voluptas dolores sit molestiae sit omnis blanditiis. Repudiandae qui ad ut earum iusto.</p>
    <p>Porro fugiat quia voluptatibus ab nihil. Quam omnis cum non facere. Quia hic qui qui assumenda cumque quasi. Nihil totam voluptatem minus harum et explicabo perspiciatis qui. Et incidunt consequuntur neque dolorem quia.</p>
    <p>Placeat sequi veniam praesentium iusto. Velit veritatis quidem libero porro harum. Velit aliquid natus sint quo expedita. Eveniet nobis praesentium quidem voluptatem ea. Totam voluptatem non similique aliquam a amet.</p>
    <p>Non mollitia qui consectetur provident dolores numquam veritatis. Ut tenetur aut vel quo assumenda tempore non magnam. Sunt error et voluptatem. Atque rerum qui et ut sequi temporibus ipsa unde. Ea occaecati possimus et iste.</p>
    <p>Esse ut architecto atque. Repellat cupiditate consectetur recusandae vel. Quo nesciunt esse aut nemo ipsa labore. Sint occaecati non eius. Quod est omnis aspernatur veniam illum possimus optio aperiam. Quo harum consequuntur non dolorem fugiat adipisci.</p>
    <p>A ea laborum nostrum quasi. Delectus quia quo corrupti dicta vel cum. Ea est quos eos ea. Sequi at illo aut quo ullam reprehenderit aperiam veritatis.</p>
    <p>Delectus autem qui voluptas quidem non. Sed voluptas est aliquid odio qui iste eligendi. Voluptatem vero dolorum deleniti at. Hic repellendus qui consequatur rerum in est eum.</p>
    <p>Hic ut aut ipsa voluptates ipsam excepturi adipisci. Architecto excepturi facilis blanditiis error. Autem possimus magni ut et doloribus ducimus et saepe. Debitis laborum praesentium sed animi quis fugit. Necessitatibus iusto voluptas sint omnis numquam assumenda provident qui. Ipsa repudiandae quis in quod illo unde cum explicabo.</p>
    <p>Cupiditate ut quo facilis maiores rerum. Occaecati fugit molestiae dolore ut deleniti. Blanditiis magni et dolorem quia et autem. Veniam voluptas delectus quis id mollitia sit quam. Eaque distinctio autem ipsum aut modi.</p>
    <p>Ullam quod facilis rerum consequuntur fugit quia asperiores. Itaque est quia commodi alias omnis. Quis tempore dolor est.</p>
    <p>Beatae ex dolorum hic ut velit. Commodi magnam illum dolor aut. Adipisci reprehenderit consequatur quod velit quas. Iste accusamus qui consectetur.</p>

    <div class="test-block-wrapper">
        <div class="test-block">
            <p>Hi there.</p>
            <p>Hello there.</p>
            <p>Hi hi hi.</p>
        </div>
    </div>

    <p>Ratione ut molestiae accusamus dolorem dicta voluptas. Occaecati qui in ut vel ratione sit. Et occaecati omnis ut quia qui quam esse. Dolor voluptas temporibus dolorem officiis enim.</p>
    <p>Nobis inventore quibusdam at reiciendis harum. Necessitatibus et perspiciatis ipsum tempore ab corrupti blanditiis corrupti. Voluptate nulla eum cumque dolores. Totam quasi ab porro quos. Nostrum ipsum quo mollitia ut at sequi aspernatur eum.</p>
    <p>Ex sit qui perferendis cupiditate eum dolores. Omnis repellendus delectus non ducimus cum. Enim sed vel maiores a perferendis. Ut sed et praesentium omnis vel itaque et quo.</p>
    <p>Harum numquam autem distinctio quisquam vel nobis esse. Debitis suscipit eos non deleniti fugit culpa. Culpa consequatur cumque odio hic voluptate inventore.</p>
    <p>Et aperiam quaerat est non maiores delectus eius. Et voluptas quidem quo nihil minima deleniti nihil accusantium. Molestias voluptatem quidem recusandae corrupti. Molestiae assumenda facere incidunt ea deserunt. Autem dolor porro voluptatibus sed accusamus. Porro nihil repudiandae eos non aliquid omnis deleniti.</p>
    <p>Doloremque harum recusandae ipsa explicabo quo quo. Nostrum in eaque voluptates ex. Officia voluptatem et quibusdam exercitationem animi libero sint. Quaerat molestiae magni dolores harum molestiae a non voluptates. Perspiciatis dignissimos animi architecto. Ipsam esse nisi sed.</p>
    <p>Quia laborum veritatis fugiat quos hic nihil quaerat. Quod modi quas et ducimus reiciendis voluptatem. Ea repellat aliquid veniam corporis et. Architecto animi ipsum suscipit.</p>
    <p>Consequatur fugit et repudiandae numquam deserunt et voluptatem vel. Quod possimus totam at similique dolorum voluptate hic. Libero possimus nihil qui ab debitis quam. Et dolorem iure doloribus vitae aperiam consequatur molestiae.</p>
    <p>Error dolor commodi et assumenda vero sed praesentium. Qui vitae quae cupiditate aut voluptas modi possimus. Et et voluptates eveniet commodi nobis velit consequuntur.</p>
    <p>Et molestiae nulla consequatur sit quia officia. Dolores perspiciatis minus sit quis amet. Autem porro veritatis odit voluptas voluptas. Voluptatem perferendis quis laboriosam esse reiciendis assumenda iure. Aut voluptatem libero ut aliquid non est corrupti expedita.</p>
    <p>Ad itaque tempora esse molestiae. Ducimus fugiat ut velit porro eveniet. Quia modi cum nisi impedit inventore magnam cumque. Quae suscipit corrupti omnis officia.</p>
    <p>Recusandae et facilis sed unde quo sed ut assumenda. Ab quos et iure odio reiciendis sed. Corporis eos et tenetur neque dolore officia. Ex molestias nostrum necessitatibus.</p>
    <p>Animi reiciendis voluptatem ratione vitae distinctio. Optio quisquam qui veniam voluptatem. Facere minima quo facere.</p>
    <p>Inventore quia quo sunt officiis et. Dolor inventore quia error qui omnis rerum est. Molestiae reprehenderit et rerum unde qui nihil neque rerum. Dolor ex voluptatem nulla ab maxime eaque cupiditate similique. Ut eos quasi debitis minima.</p>
    <p>Est tenetur dolores temporibus aut suscipit architecto. Est in sed consequuntur cumque. Fugiat nemo blanditiis amet corporis sed voluptatem excepturi dolorem. Delectus similique autem sit laboriosam voluptatem provident. Velit dignissimos accusantium laboriosam doloremque veniam eligendi sunt.</p>
    <p>Architecto totam ut nisi. Quia commodi vitae vel voluptatem. Voluptatem excepturi et nam sunt recusandae. Consequatur quaerat dolorem quae qui possimus suscipit quo. Praesentium quia amet quia expedita.</p>
    <p>Sapiente similique voluptas sed recusandae odio alias. At cupiditate dolorem expedita rem consectetur expedita. Reprehenderit omnis corrupti id. Vel perspiciatis consectetur doloribus id.</p>
    <p>Voluptatem omnis dolores nam doloremque ea quia quam dolor. Totam magni est ab. Accusamus explicabo sunt pariatur qui omnis eveniet esse. Suscipit est omnis dolores. Ad assumenda nulla quo exercitationem eius sit reprehenderit molestiae. Nisi voluptatum qui dolores nostrum doloremque dolores dolorem recusandae.</p>
    <p>Impedit praesentium facilis laudantium. Sunt pariatur quia iste dolorem culpa excepturi. Ut temporibus accusantium corporis id.</p>
    <p>Non ut repellat distinctio. Totam aperiam qui rerum repellendus non rerum vitae eos. Nesciunt vel consequatur sequi.</p>
    <p>Omnis cumque voluptatem quia dolores. Odio accusamus dolores voluptates tenetur itaque. Ut molestiae exercitationem necessitatibus.</p>
</div>

<div id="test-block-readout">
    <strong>.test-block - getBoundingClientRect()</strong>

    <div id="test-block-readout-results"></div>

    <p>Visible? <span id="visible"></span></p>
</div>

<script type="text/javascript">
    let readout = document.querySelector('#test-block-readout-results');

    document.addEventListener('scroll', function() {
        let results = document.querySelector('.test-block').getBoundingClientRect();
        readout.innerHTML = `
            top: ${results.top} <br />
            left: ${results.left}<br />
            right: ${results.right} <br />
            bottom: ${results.bottom} <br />
            height: ${results.height} <br />
            width: ${results.width}
        `;

        // Fun facts
        let isItVisible = (results.top > 0 && results.top < window.innerHeight) ||
                          (results.bottom > 0 && results.bottom < window.innerHeight);
        let isItCompletelyVisible = results.top > 0 && results.bottom < window.innerHeight;
        let isItBleeding = isItVisible && (results.bottom > window.innerHeight || results.top < 0);

        let visibility = document.querySelector('#visible');
        visibility.innerHTML = (isItVisible ? 'Visible' : '') +
                               (isItCompletelyVisible ? ' (completely so) ' : '') +
                               (isItBleeding ? ', bleeding' : '');

        let testBlock = document.querySelector('.test-block');
        testBlock.style.left = (isItCompletelyVisible) ? "0px" : null;
        testBlock.style.top = (isItCompletelyVisible) ? "0px" : null;
        testBlock.style.opacity = (isItCompletelyVisible) ? "1" : null;

    });
</script>
